@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu+Mono:wght@400;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/katex@0.15.0/dist/katex.min.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer base {
	* {
		@apply duration-75 !important;
	}
	body {
		@apply bg-notokake-light text-notokake-darker dark:bg-notokake-dark dark:text-notokake-light transition overflow-hidden;
	}
	label {
		@apply pl-1;
	}
	a {
		@apply text-notokake-accent2 hover:text-notokake-accent2-lighter active:text-notokake-accent2-darker font-bold transition;
	}
}

/* Input */
@layer base {
	input {
		@apply bg-notokake-light text-notokake-darker dark:bg-notokake-dark dark:text-notokake-lighter border-2 border-notokake-dark/25 dark:border-notokake-light/25 hover:border-notokake-accent2/50 dark:hover:border-notokake-accent2-lighter/50 px-8 py-1 my-2 rounded-full outline-none focus:outline-none focus:border-notokake-accent2 dark:focus:border-notokake-accent2-lighter transition;
	}
	input.error {
		@apply bg-notokake-accent dark:bg-notokake-accent text-notokake-light dark:text-notokake-light placeholder:text-notokake-light/50;
	}
}

/* Button */
@layer base {
	button {
		@apply w-fit h-fit my-4 rounded-xl;
	}

	button.btn-xs {
		@apply px-2 py-1 text-xs;
	}
	button.btn-sm {
		@apply px-4 py-1 text-sm;
	}
	button.btn-md {
		@apply px-8 py-2 text-base;
	}
	button.btn-lg {
		@apply px-16 py-2 text-lg;
	}
	button.btn-xl {
		@apply px-32 py-2 text-xl;
	}

	button.btn-accent {
		@apply bg-notokake-accent hover:bg-notokake-accent-lighter active:bg-notokake-accent-darker text-notokake-light transition disabled:bg-notokake-dark/25 disabled:dark:bg-notokake-light/25;
	}
	button.btn-accent2 {
		@apply bg-notokake-accent2 hover:bg-notokake-accent2-lighter active:bg-notokake-accent2-darker text-notokake-light transition disabled:hover:bg-notokake-accent2 disabled:bg-notokake-dark/25 disabled:dark:bg-notokake-light/25;
	}
}

/* Hamburger */
@layer base {
	.active > div:nth-child(1) {
		@apply origin-top-left rotate-45;
	}
	.active > div:nth-child(2) {
		@apply origin-left opacity-0;
	}
	.active > div:nth-child(3) {
		@apply origin-bottom-left -rotate-45;
	}
}

/* Toastify */
.Toastify__toast-body {
	white-space: pre-line;
}

/* Markdown */
@layer base {
	.markdown-body ul {
		@apply list-disc ml-8;
	}
	.markdown-body ol {
		@apply list-decimal;
	}
	pre[class*='language-'],
	code[class*='language-'] {
		@apply font-mono !important;
	}

	.markdown-body .math {
		@apply text-xl;
	}

	.markdown-body code {
		@apply bg-notokake-dark/10 dark:bg-notokake-light/10 text-notokake-darker dark:text-notokake-lighter px-2 py-0.5 rounded;
	}
	.markdown-body a code {
		@apply text-notokake-accent2 hover:text-notokake-accent2-lighter dark:text-notokake-accent2-lighter dark:hover:text-notokake-accent2 !important;
	}
	.markdown-body pre {
		@apply overflow-auto bg-notokake-dark/10 dark:bg-notokake-light/10 text-notokake-darker dark:text-notokake-lighter rounded py-1 px-4 mb-8;
	}
	.markdown-body pre code {
		@apply bg-transparent dark:bg-transparent;
	}

	.markdown-body a {
		@apply text-notokake-accent2 hover:text-notokake-accent2-lighter dark:text-notokake-accent2-lighter dark:hover:text-notokake-accent2 font-normal;
	}

	.markdown-body table {
		@apply block w-full overflow-auto border-collapse mb-4;
		border-spacing: 0;
	}
	.markdown-body table th,
	.markdown-body table td {
		@apply py-1.5 px-3 border border-notokake-dark/25 dark:border-notokake-light/25;
	}
	.markdown-body table th {
		@apply font-bold;
	}
	.markdown-body table tr {
		@apply bg-notokake-light/25 dark:bg-notokake-darker/25 border-t border-t-notokake-darker/10 dark:border-t-notokake-lighter/10;
	}
	.markdown-body table tr:nth-child(2n) {
		@apply bg-notokake-light/50 dark:bg-notokake-darker/50;
	}

	.markdown-body ul.contains-task-list {
		@apply list-none ml-4;
	}

	.markdown-body blockquote {
		@apply pl-2 border-l-4 border-l-notokake-dark/25 dark:border-l-notokake-light/25;
	}

	.markdown-body h1,
	.markdown-body h2,
	.markdown-body h3,
	.markdown-body h4,
	.markdown-body h5,
	.markdown-body h6 {
		@apply mb-6 mt-4 border-b border-b-notokake-dark/25 dark:border-b-notokake-light/25;
	}
	.markdown-body h1 {
		@apply text-4xl font-bold;
	}
	.markdown-body h2 {
		@apply text-3xl font-bold;
	}
	.markdown-body h3 {
		@apply text-2xl font-bold;
	}
	.markdown-body h4 {
		@apply text-xl font-bold;
	}
	.markdown-body h5 {
		@apply text-lg font-bold;
	}
	.markdown-body h6 {
		@apply text-base font-bold;
	}

	.markdown-body p {
		@apply my-2;
	}

	.markdown-body img {
		@apply max-w-2xl mx-auto rounded-lg shadow-xl border border-notokake-darker/25 dark:border-notokake-light/25;
	}

	code[class*='language-'],
	pre[class*='language-'] {
		color: #f8f8f2;
		background: none;
		text-shadow: 0 1px rgba(0, 0, 0, 0.3);
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	/* Code blocks */
	pre[class*='language-'] {
		padding: 1em;
		margin: 0.5em 0;
		overflow: auto;
		border-radius: 0.3em;
	}

	:not(pre) > code[class*='language-'],
	pre[class*='language-'] {
		background: #282a36;
	}

	/* Inline code */
	:not(pre) > code[class*='language-'] {
		padding: 0.1em;
		border-radius: 0.3em;
		white-space: normal;
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: #6272a4;
	}

	.token.punctuation {
		color: #f8f8f2;
	}

	.namespace {
		opacity: 0.7;
	}

	.token.property,
	.token.tag,
	.token.constant,
	.token.symbol,
	.token.deleted {
		color: #ff79c6;
	}

	.token.boolean,
	.token.number {
		color: #bd93f9;
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: #50fa7b;
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.variable {
		color: #f8f8f2;
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.class-name {
		color: #f1fa8c;
	}

	.token.keyword {
		color: #8be9fd;
	}

	.token.regex,
	.token.important {
		color: #ffb86c;
	}

	.token.important,
	.token.bold {
		font-weight: bold;
	}

	.token.italic {
		font-style: italic;
	}

	.token.entity {
		cursor: help;
	}
}

/* Scrollbar */
@layer base {
	::-webkit-scrollbar {
		display: block;
		width: 0.25rem;
		height: 0.125rem;
	}

	::-webkit-scrollbar-button {
		display: none;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-notokake-dark dark:bg-notokake-light;
		border-radius: 0.25rem;
	}
	::-webkit-scrollbar-thumb:horizontal {
		@apply bg-notokake-dark dark:bg-notokake-light;
		border-radius: 0.25rem;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-notokake-dark/75 dark:bg-notokake-light/75;
	}
	::-webkit-scrollbar-thumb:horizontal:hover {
		@apply bg-notokake-dark/75 dark:bg-notokake-light/75;
	}

	::-webkit-scrollbar-track {
		@apply bg-notokake-lighter dark:bg-notokake-darker;
	}
}
